{% extends "layout.html" %}
{% block head %}
    <script>
    $( document ).ready(function() {
            $("#About").addClass("active");
});
    </script>
{% endblock %}
{% block content %}
    <h2>EditInBox is an application designed for Dropbox users that want to change the extension or resize one or more of their pictures and want the final result to be uploaded on their own Dropbox account.</h2><br>
    <p> With EditInBox you do not need to use your computer's memory or storage: all the necessary changes take place on the cloud and go directly to your Dropbox account. The uploaded images can be located on your personal computer or even in some website on the Internet - they might have even been previously uploaded here!</p>
{% endblock %}
